.section {
  padding: 0 var(--spacing-16);

  &:not(:first-child) {
    margin-top: var(--spacing-48);

    @media (min-width: 1024px) {
      margin-top: var(--spacing-64);
    }
  }
}

.role_ul {
  list-style: none;
}

.type_sectionVertical {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.type_sectionHorizontal > * {
  display: flex;
}
