.pill_list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-8);
  margin-top: var(--spacing-12);

  &.large {
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-12);
  }
}

.pill_list__item {
  list-style: none;
  width: 100%;
  max-width: fit-content;
  text-align: center;
  border-radius: var(--border-radius-20);
  padding: var(--spacing-4) var(--spacing-12);
  box-shadow: inset -1px 1px 2px -1px var(--color-secondary-accent);
  background-color: var(--color-secondary-alpha-5);
  color: var(--color-secondary);
  font-size: var(--font-size-12);
  font-weight: 300;
  text-decoration: none !important;

  &.large {
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-size-14);
  }
}
