.header-group {
  position: relative;
  grid-area: header;
  max-width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4);
  padding: 0 var(--spacing-16);

  @media (min-width: 512px) {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
  }

  @media (min-width: 1024px) {
    /* position: fixed; */
  }
}

.header {
  font-size: var(--font-size-18);
  line-height: 1.5;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;

  @media (min-width: 512px) {
    font-size: var(--font-size-24);
  }
}

.subheader {
  font-size: var(--font-size-18);
  line-height: 1.5;
  font-weight: 300;
  justify-self: end;
  white-space: nowrap;
  text-transform: capitalize;

  @media (min-width: 512px) {
    font-size: var(--font-size-24);
  }
}

.description {
  grid-column: 1 / span 3;
  font-weight: 300;
  font-size: var(--font-size-12);
  line-height: 1.5;
  margin-top: var(--spacing-4);
  color: var(--color-primary-alpha-80);

  @media (min-width: 512px) {
    font-size: var(--font-size-16);
  }
}

.header-separator {
  display: none;

  @media (min-width: 512px) {
    display: flex;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
  }
}

@keyframes separator {
  0%,
  30% {
    height: 100%;
    width: 0;
    transform: skewx(-55deg);
  }

  40% {
    width: 100%;
    border-radius: 0%;
    background-color: transparent;
    transform: skewx(0);
  }

  50%,
  55% {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
  }

  65% {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
  }

  70%,
  100% {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: var(--color-primary);
    box-shadow: 0 0 3px 3px var(--color-primary);
  }
}

.separator {
  border: 1px solid var(--color-primary);
  transform-origin: 50% 50%;
  animation: separator 10s infinite ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
