.container {
  padding: 0 var(--spacing-16);
}

.link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-16);
  transition: color 0.25s ease-in-out;

  @media (min-width: 512px) {
    margin-bottom: var(--spacing-48);
  }
}

.link:hover {
  color: rgb(102 238 255);
  text-decoration: underline;
  text-underline-offset: var(--spacing-4);
}

.link:hover > .link__icon {
  fill: rgb(102 238 255);
  transform: translate(calc(-1 * var(--spacing-8)), 0);
}

.link__icon {
  height: 1.25rem;
  fill: white;
  transition:
    transform 0.25s ease-in-out,
    fill 0.25s ease-in-out;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-14);
  font-weight: 300;
}

.intro__text {
  display: inline;
  margin-top: var(--spacing-4);
  color: rgba(255, 255, 255, 0.8);
}

.intro__link {
  display: inline-flex;
  color: white;
  font-weight: 600;
  transition: color 0.25s ease-in-out;
}

.intro__link:hover {
  color: rgb(102 238 255);
  text-decoration: underline;
  text-underline-offset: var(--spacing-4);
}

.intro__link:hover > .intro__link__icon {
  fill: rgb(102 238 255);
  transform: translate(var(--spacing-4), calc(-1 * var(--spacing-4)));
}

.intro__link__icon {
  width: 1rem;
  fill: white;
  transition:
    translate 0.25s ease-in-out,
    fill 0.25s ease-in-out;
}

.section {
  font-size: var(--font-size-14);
  font-weight: 300;
  margin-top: var(--spacing-64);
}

.section__title {
  font-size: var(--font-size-16);
  font-weight: 600;
  text-transform: uppercase;
}

.note {
  margin-top: var(--spacing-64);
  font-size: var(--font-size-12);
  color: rgba(255, 255, 255, 0.8);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-8);
}

.list--technologies {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--spacing-8);
  row-gap: var(--spacing-12);
  margin-top: var(--spacing-24);
}

.list__item-task {
  margin-left: var(--spacing-12);
  color: rgba(255, 255, 255, 0.8);
}

.list__item-task--highlight {
  color: white;
  font-weight: 600;
}

.list__item-technology {
  list-style: none;
  width: 100%;
  max-width: fit-content;
  text-align: center;
  border-radius: var(--border-radius-20);
  padding: var(--spacing-8) var(--spacing-16);
  box-shadow: 0px -1px 0px 0px rgb(0 255 255 / 25%);
  background-color: rgb(0 255 255 / 5%);
  color: rgb(102 238 255);
}

.list__item-video {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-8);
  justify-content: space-between;
  list-style: none;
}

.list__item-video__title {
  width: 100%;
  margin-top: var(--spacing-16);
  font-size: var(--font-size-14);
  font-weight: 600;
}

.list__item-video__description {
  color: rgba(255, 255, 255, 0.8);
}

.video {
  height: 100%;
  border-radius: var(--border-radius-8);
}
